{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block contenu %}
<h1>{{stage.titre}}</h1>
<h2>Employeur : {{stage.getIdEntreprise().nomE}}</h2>
<h2>
    Formation(s) concernée(s) :
    {% for formation in stage.getListeFormations() %}
    {{ formation.nomF }}
    {% if formation != stage.getListeFormations()|last %}
     ,
    {% endif %}
    {% endfor %}
</h2>
<p>{{stage.description}}</p>
<p>{{stage.email}}</p>
{% endblock %}

