{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block contenu %}
<h1>Stage {{idStage}}</h1>
<p>Cette page affichera bientot le stage {{idStage}}</p>
{% endblock %}

