{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block titreContenu %}
Liste des formations
{% endblock %}

{% block titresTableau %}
    <th>
        Nom
    </th>
    <th>
        Nom complet
    </th>
    <th>
        Stages
    </th>
{% endblock %}

{% block contenuTableau %}
{% for formation in formations %}
<tr>
    <td>
        {{formation.nomF}}
    </td>
    <td>
        {{formation.nomComplet}}
    </td>
    <td>
        <a href="{{path('prostage_stages_formation', {idFormation:formation.id})}}">Voir stages</a>
    </td>
</tr>
{% endfor %}
{% endblock %}