{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block titreContenu %}
Liste des entreprises
{% endblock %}

{% block titresTableau %}
    <th>
        Nom
    </th>
    <th>
        Activité
    </th>
    <th>
        Adresse
    </th>
    <th>
        Site
    </th>
    <th>
        Stages
    </th>
{% endblock %}

{% block contenuTableau %}
{% for entreprise in entreprises %}
<tr>
    <td>
        {{entreprise.nomE}}
    </td>
    <td>
        {{entreprise.activite}}
    </td>
    <td>
        {{entreprise.adresse}}
    </td>
    <td>
        {{entreprise.site}}
    </td>
    <td>
        <a href="{{path('prostage_stages_entreprise', {idEntreprise:entreprise.id})}}">Voir stages</a>
    </td>
</tr>
{% endfor %}
{% endblock %}
