{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item active">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block contenu %}
<ul>
    <li>
        <a href="{{path('prostage_ressource',{idStage:5})}}">Exo 1 - TP3 - M1102</a>
    </li>
    <li>
        <a href="{{path('prostage_formations')}}">Formations</a>
    </li>
    <li>
        <a href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
    </li>
</ul>
{% endblock %}
