{% extends 'base.html.twig' %}

{% block header %}
<li class="nav-item active">
    <a class="nav-link" href="{{path('prostage_accueil')}}">Accueil<span class="sr-only">(current)</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_liste_entreprises')}}">Entreprises</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{path('prostage_formations')}}">Formations</a>
</li>
{% endblock %}

{% block titreContenu %}
Liste des stages
{% endblock %}

{% block contenuTableau %}
{% for stage in listeStages %}
<tr>
    <td>
        {{stage.titre}}
    </td>
    <td>
        {{stage.getIdEntreprise().nomE}}
    </td>
    <td>
        {% for formation in stage.getListeFormations() %}

            {{formation.nomF}}<br>

        {% endfor %}
    </td>
    <td>
        <a href="{{path('prostage_ressource', {idStage:stage.id})}}">Voir plus</a>
    </td>
</tr>
{% endfor %}
{% endblock %}